body{
    background-color: lavender;
    font-family: monospace;
    border:1px solid #000000;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: skyblue;
    width: 75%;
    margin-top: -1.01%;
    margin-left: 11%;
    margin-bottom: 2%;
}

.image__container{
    width: 30%;
    height: 30%;
    padding: 0%;
    padding-top: 0%;
    margin-top: -4%;
}

.image__container img{
    width: 100%;
    height: 100%;
}

header h1{
    text-align: right;
    font-weight:bolder;
    font-size: 30px;
}

.main__studio{
    margin-left: 12%;
}

.main__studio h2{
    font-weight: bolder;
    font-size: 24px;
}

@media (max-width:500px){
    #reviews{
        display: none;
    }
}

footer {
    background: #040f16;
    color: #ececec;
    padding: 3px 35% 3px;
    display: grid;
    justify-content: center;
    letter-spacing: 1.2px;
  }
  
  footer h4 {
    border-bottom: 1px solid #de6b48;
    margin: 0;
    max-width: 250px;
    padding-bottom: 5px;
  }
  
  footer ul {
    color: #de6b48;
    padding-left: 1rem;
    display: flex;
    margin:0px;
    padding:0px;
  }
  
  footer ul li {
    margin: 1rem 0;
    list-style-type: none;
    flex: 1;
    padding: 0px;
    margin-right: -0.5em;
  }
  
  footer a {
    color: #de6b48;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }
  
  footer a:hover {
    color: #ececec;
    box-shadow: #ececec;
  }

  footer p{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
 }